.container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.my_table {
  display: flex;
  flex-direction: column;
  width: 1050px;
}

.tr {
  display: flex;
  width: 1050px;
}

.date {
  width: 150px;
}

.acquire,
.release {
  width: 450px;
}

.date,
.acquire,
.release {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  border: solid 1px #bbb;
  padding: 10px 0;
}

.acquire > div,
.release > div {
  margin: 10px 0;
}

.description {
  width: 1050px;
  text-align: center;
  background: #000;
  color: #fff;
  padding: 10px 0;
}

.player {
  font-weight: bold;
}

.pick {
  color: #008000;
  font-weight: bold;
}

.protected {
  color: #ff0000;
  font-weight: bold;
}

.cash {
  color: #4169e1;
  font-weight: bold;
}
