.wrapper {
  max-width: 28rem;
  padding: 1rem 2rem;
  margin-top: 5rem 0;
  background-color: #fff;
  border: 2px solid #aaa;
  border-radius: 0.5rem;

  &:hover {
    opacity: 0.75;
  }
}

.title {
  font-size: 1.875rem;
  font-weight: 600;
  line-height: 2.25rem;
  color: #000;
}

.description {
  margin-top: 0.5rem;
  color: #444;
}
