.wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: #1e90ff;
}

.title {
  display: flex;
  align-items: center;
  margin-right: 1.5rem;
  color: #fff;

  &:hover {
    opacity: 0.75;
  }
}

.title_logo {
  height: 2rem;
}

.title_name {
  margin-left: 1.25rem;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.75rem;
  letter-spacing: -0.025em;
}
